.inputFields{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputFields input{
    width: 15%;
    height: 3vh;
    border-radius: 15px 15px 15px 15px;
    padding-left: 1rem;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #40513B;
    font-family: "Garamond", serif;
    font-size: 40px;
    margin-top: 13%;
}

.fieldTitle{
    display: flex;
    justify-content:center;
    align-items: center;
    color: #40513B;
    font-family: "Garamond", serif;
}

.wrapper{
    display: flex;
    width: 100%;
    height: 100vh;
    color:'#ECF2FF';
    flex-direction: column;
    background-color: #EDF1D6;
}

.loader{
    display: flex;
    align-items:center;
    justify-content: center;
}