.container {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: whitesmoke;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formPrompt {
  font-size: 1.8rem;
  margin-bottom: 10vh;
  width: 80%;
  text-align: center;
}

.inputStyle {
  font-size: 1.5rem;
  /* padding-left: 1rem; */
  border-radius: 2rem;
}

.textAreaContainer {
  margin-top: 5vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.textAreaStyle {
  padding: 1rem 1rem;
  width: 30%;
}

.nextButton {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.nextButtonText {
  padding: 1vh 3vw;
  background-color: #40513b;
  cursor: pointer;
  border-radius: 2rem;
  text-align: center;
}

.tableStyle {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

table {
  border: 2px solid forestgreen;
  width: 800px;
  height: 200px;
}

th {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
}
