.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #609966;
    font-family: "Garamond", serif;
    margin-top: 20px;
    height: 40px;
    width: 100px;
    font-size: 15px;
}