.title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #40513B;
    font-family: "Garamond", serif;
    font-size: 40px;
    margin-bottom: 20px;
}


.wrapper{
    display: flex;
    width: 100%;
    height: 100vh;
    color:'#ECF2FF';
    flex-direction: column;
    background-color: #EDF1D6;
    justify-content: center;
    align-items: center;
}

.formBody{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}

.formQuestions{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.formInputs{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.formInput input{
    border-radius: 10px;
    padding-left: 1rem;
}