.newEntry {
  display: flex;
  width: 100%;
  color: #40513b;
  margin-bottom: 2vh;
  margin-right: 5vh;
}

.newEntryText {
  margin-left: 5%;
  border: 1px solid #40513b;
  border-radius: 25px;
  cursor: pointer;
  color: #ecf2ff;
  background-color: #40513b;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
}
